<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studiograficzne">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudioGraficzne">
        <activity
            android:name=".activity_studio_preview"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_studio_panel_info"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_studio_panel_employees"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_studio_panel"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_studio_view"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_magazyn_match_missions"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_magazyn_timed_missions"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_nazwij_studio"
            android:exported="false" />
        <activity
            android:name=".activity_bank_timed_missions"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_bank_match_missions"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_settings"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ActivityResultLauncher" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity_logowanie"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity_rejestracja"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity_meblowy"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_menu"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_studio"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_magazyn"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_bank"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity_budowlany"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>